.post{
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.post__image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;       
}
.post__text{
    font-weight: normal;
    padding: 10px;
    margin: 0;
}
.post__header{
    display: flex;
    align-items: center;
    padding: 12px;
}
.post__avatar{
    margin-right: 10px;
}
.post__commentBox{
    display: flex;
    margin-top: 10px;
}
.post__input{
    flex: 1;
    border: none;
    padding: 8px;
    border-top: 1px solid lightgray;
}
.post__button{
    flex: 0;
    border: none;
    padding: 8px;
    background-color:transparent;
    border-top: 1px solid lightgray;
    color: blue;
}
.posts__comments{
    padding: 14px;
}
.post__likeSection{
    border-bottom: 1.5px solid lightgray;
    display: flex;
}
.post__likes{
    margin-left: 12px;
    margin-top:0;
}
.post_actions{
    padding: 7px !important;
}
.post_actions_bookmark{
    justify-self: right !important;
}
.post_actions_bookmark{
margin-left: auto !important;
} 