.post{
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.post__image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;       
}
.post__text{
    font-weight: normal;
    padding-top: 4px;
    padding-left: 10px; 
    padding-bottom: 3px;
    margin: 0;
    font-size: 14.5px;
}
.post__header{
    display: flex;
    align-items: center;
    padding: 12px;
}
.post__avatar{
    margin-right: 10px;
}
.post__commentBox{
    display: flex;
    margin-top: 10px;
}
.post__input{
    flex: 1;
    border: none;
    padding: 8px;
    border-top: 1px solid lightgray;
}
.post__button{
    flex: 0;
    border: none;
    padding: 8px;
    background-color:transparent;
    border-top: 1px solid lightgray;
    color: blue;
}

.post__likeSection{
    border-bottom: 1.5px solid lightgray;
    display: flex;
}

.post_actions{
    padding: 7px !important;
}
.post_actions_bookmark{
    justify-self: right !important;
}
.post_actions_bookmark{
margin-left: auto !important;
} 
.posts__lastCommentDate > p{
    font-size:10px;
    color: #D3D3D3;
    padding-left: 10px;  
    padding-bottom: 12px;
}
.post__date{
    font-weight: normal;
    font-size: 10px;
    padding-left: 10px;
    color: #D3D3D3;
    padding-bottom: 8px;
}
.posts__comments{
    padding-left: 11px;
    padding-bottom: 2.5px;
    font-size: 14.5px;
}
.posts__comments > p{
    padding-bottom: 3px;
}

.post__likes{
    margin-left: 10px;
    margin-top:4px;
    
    color: #262626;
    font-size: 14.5px;
}